.header {
    width: 100%;
}
.footer {
    width: 100%;
}
* {
    font-family: Roboto, sans-serif;
}
.hero {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.hero__title {
    margin: 0 auto;
    font-weight: 700 ;
    text-align: start;
    font-size: clamp(18px, 2vw , 100px);
    letter-spacing: 10%;
    line-height: 100%;
    color: #333;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2rem;
}
.hero__block {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.block__text_btn {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero__info {
    font-family: Roboto;
    font-size: clamp(16px, 0.953vw, 100px);
    font-weight: 400;
}
.hero__btn_present {
    width: 60%;
    height: 35px;
    font-size: clamp(16px, 0.833vw, 100px);
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    font-family: Roboto;
    cursor: pointer;
    display: block;
    text-align: center;
    align-content: center;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #ff0000 0%, #b80000 51%, #ff0000 100%) !important;
}
hr {
    height: 1px;
    width: 90%;
    background-image: linear-gradient(to right, #ff0000 0%, #b80000 51%, #ff0000 100%) !important;
}
.hero__btn_present:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.hero__img {
    border-radius: 15px;
    object-fit: cover;
}
.block__about {
    margin-bottom: 3rem;
}
.about__title {
    margin-top: 2rem;
    text-align: center;
    color: #222;
    font-size: clamp(18px, 2vw , 100px);
}
.cards__about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    width: 70%;
    margin: 0 auto;
}
.about_arrow {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    width: 70%;
    background-color: #f2f2f2;
    cursor: pointer;
}
.card__about {
    display: flex;
}
.arrow__right {
    color: #ff0000;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    align-content: center;
    align-self: center;
}
.text__about {
    text-align: center;
    font-size: clamp(16px, 0.833vw, 100px);
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.text__about_opacity {
    display: none;
    position: absolute;
    bottom: 110%;
    left: 50px;
    background: #1A1E47;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 20px;
    width: 400px;
    border-radius: 10px;
    z-index: 1;
    text-align: left;
}
.about-item-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    padding: 10px;
}

.img__about_item {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card__about:nth-child(3) .img__about_item {
    width: 110%;
    height: 110%;
    transform: scale(1.1);
}
.card__about:nth-child(8) .img__about_item {
    width: 110%;
    height: 110%;
    transform: scale(1.1);
}
.card__about:hover .about-item-container{
    transform: scale(1.1);
    transition: 0.3s;
}
.card__about:hover .text__about_opacity {
  display: block;
}
.img__item {
    width: 70px;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #f2f2f2;
    cursor: pointer;
}
.img__item:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.block__delivery {
    margin-bottom: 3rem;
}
.delivery__title {
    margin-top: 2rem;
    text-align: center;
    color: #222;
    font-size: clamp(18px, 2vw , 100px);
}
.cards__delivery {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
}
.card__delivery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: #fff;
    border-radius: 15px;
    width: 20%;
    height: auto;
    background-color: #f2f2f2;
    overflow: hidden;
}
.card__delivery_fura {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 60%;
    height: auto;
    background-color: #f2f2f2;
    overflow: hidden;
}
.text__delivery {
    text-align: center;
    font-size: clamp(16px, 0.933vw, 100px);
}
.text__delivery__fura {
    padding-left: 2rem;
    text-align: center;
    font-size: clamp(16px, 1.33vw, 100px);
}
.img__item_fura {
    width: 110px;
    height: auto;
    margin: 0 auto;
    align-content: center;
    background-color: #f2f2f2;
}
.img__item_fura:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
.block__scheme {
    margin-bottom: 3rem;
}
.cards__scheme {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
}
.scheme__title {
    margin-top: 2rem;
    text-align: center;
    color: #222;
    font-size: clamp(18px, 2vw , 100px);
}
.card__scheme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: #fff;
    border-radius: 15px;
    width: 20%;
    height: auto;
    overflow: hidden;
}
.arrow {
    width: 107px;
    height: 36px;
    margin: 0 auto;
    align-content: center;
    align-self: center;
}
.img__item_sheme {
    width: 70px;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
}
.img__item_sheme:hover {
    transform: scale(1.1);
    transition: 0.3s;
}